<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    {% for post in posts %}
        <div class="post">
            <div class="info">
                <div class="user">
                    <div class="profile-pic"><img src= {{post.user.get('image_url')}} alt=""></div>
                    <p class="username">{{ post.user.get('username') }}</p>
                </div>
                <img src="https://img.icons8.com/ios-glyphs/344/more.png" height = 25px width = 15px class="options" alt="options"> 
            </div>
            <img src= {{ post.get('image_url') }} class="post-image" alt="post image">
            <div class="post-content">
                <div class="reaction-wrapper">
                    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/452/external-like-instagram-flatart-icons-outline-flatarticons.png" class="icon" alt="like">
                    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/452/external-chat-instagram-flatart-icons-outline-flatarticons.png" class="icon" alt="comment">
                    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/452/external-send-instagram-flatart-icons-outline-flatarticons.png" class="icon" alt="share">
                    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/452/external-bookmark-instagram-flatart-icons-outline-flatarticons.png" class="save icon" alt="save post">
                </div>
                <p class="likes">{{ post.get('likes') }} likes </p>
                <p class="description"><span> {{ post.user.get('username') }} </span> {{ post.get('title') }} </p>

                <div class = "comment-section">
                    {% if post.get('comments')|length==1 %}
                        <div class = "follower-comment"
                        <p> <b>{{ post.comments[0].user.get('username') }} </b> {{ post.comments[0].text }} </p>
                        </div>
                    {% endif %}

                    {% if post.get('comments')|length>1 %}
                        <a href = '#'> View all {{ post.comments|length }} comments </a>
                        <div class = "follower-comment"
                        <p> <b> {{ post.comments[0].user.get('username') }} </b> {{ post.comments[0].text }} </p>
                        </div>
                    {% endif %}
                </div>

                <p class="post-time"> {{ post.get('display_time') }} </p>
            </div>
            <div class="comment-wrapper">
                <img src="https://img.icons8.com/ios-glyphs/452/happy--v1.png" class="icon" alt="smile">
                <input type="text" class="comment-box" placeholder="Add a comment">
                <button class="comment-btn">Post</button>
            </div>
        </div>
    {% endfor %}

</body>