<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <h1 class = "app-name"> Photo App </h1>
            
            <div class = "user">
                <p> {{ user.get('username') }} </p>
                <button> Sign out </button>
            </div>
        </div>
    </nav>
</body>