<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>

    <div class="status-wrapper">

        {% for story in stories %}
            <div class="status-card">
                <div class="profile-pic"><img src= {{ story.user.get('image_url') }} alt="profile picture"></div>
                <p class="username"> {{ story.user.get('username') }} </p>
            </div>
        {% endfor %}
    
    </div>

</body>