<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>

    <div class="right-col">
        <div class="profile-card">
            <div class="profile-pic">
                <img src= {{ user.get('image_url') }} alt="profile picture">
            </div>
            <div>
                <p  class="username"> <strong> {{ user.get('username') }} </strong></p>
                <p class="sub-text">{{ user.get('first_name') }} {{ user.get('last_name') }}</p>
            </div>
        </div>

        <p class="suggestion-text">Suggestions for you</p>
        {% for suggestion in suggestions %}
            <div class="profile-card">
                <div class="profile-pic">
                    <img src= {{ suggestion.get('image_url') }} alt="profile picture">
                </div>
                <div>
                    <p class="username"> <b> {{ suggestion.get('username') }} </b></p>
                    <p class="sub-text">suggested for you</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
        {% endfor %}
            
    </div>
</body>