<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    {% include 'includes/navbar.html' %}

    <section class="main">
        <div class="wrapper">
            <div class="l-col">
                <div class="status-wrapper">

                    {% include 'includes/stories.html' %}

                </div>

                {% include 'includes/cards.html' %}

            </div>

            {% include 'includes/suggestions.html' %}
            
        </div>
    </section>
</body>

